.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
}

.sidebar_logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}


.sidebar_option {
  display: flex;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.sidebar_option:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.sidebar_option span {
  margin-left: 10px;
}
